@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
}
svg {

}
.mark {
fill: rgb(255, 255, 255);
stroke: none;
opacity: .6;
}
.mark.miss {

}
.Hex {
stroke: none;
}
.tick line{
  stroke: #C0C0BB;
}
.tick text{
  fill: #635F5D;
}
.bar{
  fill: #005D6E;
}
.xlabel{
  font-size: 2.5em;
  fill: #635F5D;
}
.dropdown-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* table */
.cells {
  background-color: white;
}
.cells:nth-child(even){
  background-color: #cccccc;
}